{% extends 'global/base.html'%}


{% block body %}
    <section class="main">
        <div class="image-container">
            <div class="image-one">
                <a class="image-news" href="#"></a>
                <p class="image-tilte">myimage</p>
            </div>
            <div class="image-two">
                <a class="image-news" href="#"></a>
                <p class="image-tilte">myimage</p>
            </div>
            <div class="image-three">
                <a class="image-news" href="#"></a>
                <p class="image-tilte">myimage</p>
            </div>
        </div>        
    </section>
{% endblock %}
